@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
    color: #000;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

li {
	list-style: none;
}

/* 部品
------------------------------------------ */

/* ヘッダー
------------------------------------------ */
header {
	position: fixed;
	top: 28px;
	left: 0;
	right: 0;
	width: 91.8vw;
	height: 64px;
	margin: auto;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 32px;
	padding-left: 7.1vw;
	padding-right: 6.2vw;
}

.header__logo {
	line-height: 0;
	width: 240px;
}

/* ハンバーガーボタン */
.header__open-btn {
	font-size: 32px;
}

.header__close-btn {
	font-size: 37px;
	display: none;
}

/* ヘッダーメニュー */
.header__menu {
	position: fixed;
	top: 28px;
	left: 0;
	right: 0;
	width: 91.8vw;
	margin: auto;
	border-radius: 32px;
	background-color: #fff;
	z-index: -1;
	/* text-align: center; */
	padding-top: 88px;
	padding-bottom: 48px;
}

.header__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.header__item {
	font-weight: bold;
	font-size: 22px;
}

.header__item a {
	color: #057F22;
}

/* ヒーロー
------------------------------------------ */
.hero {
	width: 100vw;
	height: 100vh;
}

.hero__inner {
	height: 100%;
}

.hero__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}